/* this CSS file is needed to quickly and easily customize prismjs code editor 
to give a preview of the VSCode themes I made
See: /components/LaptopContent.tsx
*/

[data-theme="ilyat"] {
  pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
  }
  code.hljs {
    padding: 3px 5px;
  }

  div {
    background-color: #282c34;
    color: #b0b7c3;
  }

  .hljs-comment,
  .hljs-quote {
    color: #ffffff70;
  }

  .hljs-operator {
    color: #ff9070;
  }
  .hljs-literal {
    color: #e06c75;
    font-style: italic;
  }

  .hljs-number {
    color: #fab763;
  }

  .hljs-variable,
  .hljs-template-variable,
  .hljs-tag,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-regexp,
  .hljs-deletion {
    color: #ff9da4;
  }
  .hljs-built_in,
  .hljs-type,
  .hljs-meta,
  .hljs-link {
    color: #6495ee;
  }
  .hljs-attribute {
    color: #ffeead;
  }
  .hljs-string,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-addition {
    color: #a3ce9e;
  }

  .hljs-params {
    color: #fab763;
  }

  .hljs-title,
  .hljs-section {
    color: #5fb3b3;
  }

  .hljs-title.class_ {
    color: #fab763;
  }

  .hljs-keyword,
  .hljs-selector-tag {
    color: #a78cfa;
  }
  .hljs {
    background: #002451;
    color: white;
  }
  .hljs-emphasis {
    font-style: italic;
  }
  .hljs-strong {
    font-weight: bold;
  }
}

[data-theme="ilyat-mariana"] {
  pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
  }
  code.hljs {
    padding: 3px 5px;
  }

  div {
    background-color: #262a33;
    color: #d5ced9;
  }

  .hljs-comment,
  .hljs-quote {
    color: #ffffff70;
  }

  .hljs-variable,
  .hljs-template-variable,
  .hljs-tag,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-regexp,
  .hljs-deletion {
    color: #ff9da4;
  }

  .hljs-number {
    color: #fab763;
  }

  .hljs-literal {
    color: #ff9070;
    font-style: italic;
  }

  .hljs-operator {
    color: #fa8763;
  }

  .hljs-meta,
  .hljs-link {
    color: #db7b22;
  }

  .hljs-params {
    color: #fab763;
  }

  .hljs-built_in {
    color: #6699cc;
  }

  .hljs-title.class_ {
    color: #fab763;
  }

  .hljs-attribute {
    color: #ffeead;
  }
  .hljs-string,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-addition {
    color: #a3ce9e;
  }

  .hljs-title,
  .hljs-section {
    color: #5fb3b3;
  }

  .hljs-keyword,
  .hljs-selector-tag {
    color: #c594c5;
  }

  .hljs-emphasis {
    font-style: italic;
  }
  .hljs-strong {
    font-weight: bold;
  }
}

[data-theme="ilyat-poimandres"] {
  pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
  }
  code.hljs {
    padding: 3px 5px;
  }

  div {
    background-color: #252b37;
    color: #fff;
  }

  .hljs-comment,
  .hljs-quote {
    color: #868cadb0;
  }

  .hljs-operator {
    color: #ff9070;
  }
  .hljs-literal {
    color: #d0679d;
    font-style: italic;
  }

  .hljs-number {
    color: #fab763;
  }

  .hljs-variable,
  .hljs-template-variable,
  .hljs-tag,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-regexp,
  .hljs-deletion {
    color: #ff9da4;
  }
  .hljs-built_in,
  .hljs-type,
  .hljs-meta,
  .hljs-link {
    color: #add7ff;
  }
  .hljs-attribute {
    color: #ffeead;
  }
  .hljs-string,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-addition {
    color: #a3ce9e;
  }

  .hljs-params {
    color: #fab763;
  }

  .hljs-title,
  .hljs-section {
    color: #73d6d6;
  }

  .hljs-title.class_ {
    color: #fab763;
  }

  .hljs-keyword,
  .hljs-selector-tag {
    color: #91b4d5;
  }
  .hljs {
    background: #002451;
    color: white;
  }
  .hljs-emphasis {
    font-style: italic;
  }
  .hljs-strong {
    font-weight: bold;
  }
}

[data-theme="ilyat-poimandres-darker"] {
  pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
  }
  code.hljs {
    padding: 3px 5px;
  }

  div {
    background-color: #1b1e28;
    color: #fff;
  }

  .hljs-comment,
  .hljs-quote {
    color: #868cadb0;
  }

  .hljs-operator {
    color: #ff9070;
  }
  .hljs-literal {
    color: #d0679d;
    font-style: italic;
  }

  .hljs-number {
    color: #fab763;
  }

  .hljs-variable,
  .hljs-template-variable,
  .hljs-tag,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-regexp,
  .hljs-deletion {
    color: #ff9da4;
  }
  .hljs-built_in,
  .hljs-type,
  .hljs-meta,
  .hljs-link {
    color: #add7ff;
  }
  .hljs-attribute {
    color: #ffeead;
  }
  .hljs-string,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-addition {
    color: #a3ce9e;
  }

  .hljs-params {
    color: #fab763;
  }

  .hljs-title,
  .hljs-section {
    color: #73d6d6;
  }

  .hljs-title.class_ {
    color: #fab763;
  }

  .hljs-keyword,
  .hljs-selector-tag {
    color: #91b4d5;
  }
  .hljs {
    background: #002451;
    color: white;
  }
  .hljs-emphasis {
    font-style: italic;
  }
  .hljs-strong {
    font-weight: bold;
  }
}
