/* this CSS file is needed to quickly and easily customize highlightjs code editor 
to give a preview of the VSCode themes I made
See: /components/LaptopContent.tsx
*/

[data-theme="ilyat"] {
  --background-color: #282c34;
  --text-color: #b0b7c3;
  --comment: #ffffff70;
  --operator: #ff9070;
  --literal-color: #e06c75;
  --literal-style: italic;
  --number: #fab763;
  --template-var: #ff9da4;
  --built-in: #6495ee;
  --type: #6495ee;
  --meta: #6495ee;
  --link: #6495ee;
  --attribute: #ffeead;
  --string: #a3ce9e;
  --params: #fab763;
  --title: #5fb3b3;
  --title-class: #fab763;
  --keyword: #a78cfa;
}

[data-theme="ilyat-cosmic"] {
  --background-color: #221e30;
  --text-color: #dcdde4;
  --comment: #f8f2fd4f;
  --operator: #ed9cc2;
  --literal-color: #f6c177;
  --literal-style: italic;
  --number: #f6c177;
  --template-var: #ff9da4;
  --built-in: #a0c0d6;
  --meta: #a0c0d6;
  --link: #a0c0d6;
  --attribute: #ffeead;
  --string: #74ccaa;
  --params: #f3a580;
  --title: #5fb5be;
  --title-class: #a0c0d6;
  --keyword: #a0a5d6;
}

[data-theme="ilyat-mariana"] {
  --background-color: #262a33;
  --text-color: #d5ced9;
  --comment: #ffffff70;
  --operator: #fa8763;
  --literal-color: #ff9070;
  --literal-style: italic;
  --number: #fab763;
  --template-var: #ff9da4;
  --built-in: #6699cc;
  --meta: #db7b22;
  --link: #db7b22;
  --attribute: #ffeead;
  --string: #a3ce9e;
  --params: #fab763;
  --title: #5fb3b3;
  --title-class: #fab763;
  --keyword: #c594c5;
}

[data-theme="ilyat-poimandres"] {
  --background-color: #252b37;
  --text-color: #fff;
  --comment: #868cadb0;
  --operator: #ff9070;
  --literal-color: #d0679d;
  --literal-style: italic;
  --number: #fab763;
  --template-var: #ff9da4;
  --built-in: #add7ff;
  --type: #add7ff;
  --meta: #add7ff;
  --link: #add7ff;
  --attribute: #ffeead;
  --string: #a3ce9e;
  --params: #fab763;
  --title: #73d6d6;
  --title-class: #fab763;
  --keyword: #91b4d5;
}

[data-theme="ilyat-poimandres-darker"] {
  --background-color: #1b1e28;
  --text-color: #fff;
  --comment: #868cadb0;
  --operator: #ff9070;
  --literal-color: #d0679d;
  --literal-style: italic;
  --number: #fab763;
  --template-var: #ff9da4;
  --built-in: #add7ff;
  --type: #add7ff;
  --meta: #add7ff;
  --link: #add7ff;
  --attribute: #ffeead;
  --string: #a3ce9e;
  --params: #fab763;
  --title: #73d6d6;
  --title-class: #fab763;
  --keyword: #91b4d5;
}

[data-theme="ilyat-moegi"] {
  --background-color: #0d0d0d;
  --text-color: #dcdde4;
  --comment: #ffffff4f;
  --operator: #ed9cc2;
  --literal-color: #f6c177;
  --literal-style: italic;
  --number: #f6c177;
  --template-var: #f6c177;
  --built-in: #f3a580;
  --type: #f3a580;
  --meta: #f3a580;
  --link: #f3a580;
  --attribute: #f3a580;
  --string: #74ccaa;
  --params: #a0a5d6;
  --title: #5fb5be;
  --title-class: #f3a580;
  --keyword: #a0a5d6;
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}

.code-container {
  background-color: var(--background-color);
  color: var(--text-color);
}

.hljs-comment,
.hljs-quote {
  color: var(--comment);
}

.hljs-operator {
  color: var(--operator);
}
.hljs-literal {
  color: var(--literal-color);
  font-style: var(--literal-style);
}

.hljs-number {
  color: var(--number);
}

.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: var(--template-var);
}

.hljs-built_in {
  color: var(--built-in);
}

.hljs-type {
  color: var(--type);
}

.hljs-meta {
  color: var(--meta);
}

.hljs-link {
  color: var(--link);
}

.hljs-attribute {
  color: var(--attribute);
}
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: var(--string);
}

.hljs-params {
  color: var(--params);
}

.hljs-title,
.hljs-section {
  color: var(--title);
}

.hljs-title.class_ {
  color: var(--title-class);
}

.hljs-keyword,
.hljs-selector-tag {
  color: var(--keyword);
}
.hljs {
  background: #002451;
  color: white;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
